@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;    
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 48px;
    border-bottom: 1px solid #d9d9d9;
    align-items: center;
}

.logo {
    height: 36px;
}

a{
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
}

video {
    width: 100%;
    height: 10%;
    max-height: 512px;
}

main {
    padding: 16px 48px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
    font-weight: 500;
}

section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

li {
    list-style: none;
    font-size: 14px;
    text-indent: 16px;
}

details > summary {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
}

details[open] > summary {
    list-style-type: none;
}

details[open] > summary {
    margin-bottom: 8px;
}

.list_item {
    font-size: 14px;
    font-weight: 400;
    color: #595959;
}

.list_item:hover {
    color: #000000;
}

details ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

hr {
    width: 100%;
    border: 0.5px solid rgb(212, 212, 212);
}

@media only screen and (max-width: 600px) {
    header {
        padding: 16px;
    }

    main {
        padding: 16px;
    }
  }